node_modules
server/config/config_db.js
server/config/google_app_credential.json
server/assets/imgs/upload/avatars/*
server/assets/imgs/upload/illusts/*
server/assets/logs/*
server/assets/tmp/*
server/routes/assets