@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
  	transition: all 0.2s ease;

}

html {
	font-family: Kanit-Regular;
	height: 100%;
	width: 100%;
}

body {
	font-family: Kanit-Regular;
	font-size: 18px;
	color: #636363;
	background-color: #eeeeee;

}

.btnSend {
	color: black;
	font-family: Kanit-Regular;
	font-size: 1em;;
	background-color: #a0a0a0;
	text-align: center;
	opacity: 1;
	width: 9vw;
	border-width: 0px;
	cursor: pointer;
	border-radius: 7px;
	padding: 5px; 
	text-decoration: none;
}

.btnSend:hover {
	font-family: Kanit-SemiBold;
	background-color: #FF9933;
	font-size: 1.1em;
}

.header {
	font-family: Kanit-Regular;
	font-size: 1em;
	text-align: left;
/*	padding-left: 3em;*/
	color: #eeeeee;
	background-color: #636363;
	padding: 0px;
}

img {
	width: 100%;
	height: auto!important;
	max-width: 80px;
	max-height: 100px;
}

.user_avatar {
    margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	float: left;"
	text-align: center;
	border-radius: 50%;
	width: 55px;
}

@media screen (max-width: 320) {
	.user_avatar {
		width: 30px; 
	}
}

img.pic_avatar {
	display: inline-block;
	vertical-align: middle;
	float: left;"
	text-align: center;
	margin-right: 10px;
	height: 100px;
	width: auto!max-width;
}

.comment_block {
	height: 100%;
	margin-top: 0px;
	padding: 2vw;
	padding-right: 2.5vw;
}

.create_new_comment {
	width: 100%;
	margin-bottom: 4em;
	text-align: center;
}

.input_comment {
	display: inline;
	vertical-align: middle;
	/*margin-left: 10px;*/
	width: calc(100% - 75px);
	float: right;
	margin-top: 10px;
	display: flex;

}

.inputField {
    flex: 1;

}

input[type="text"] {

	width: 100%;
	font-family: Kanit-Regular;
	font-weight: 300;
	font-size: 1.1rem;
	padding: 5px;
	padding-left: 10px;
	border: 2px;
	border-color: #636363;
}

input:focus {
	outline: none;
	border-bottom: 2px solid lighten(#ccc, 10%);
}

.new_comment {
	width: 100%;
	height: auto;
	/*padding: 1.5em 0;*/

}
.user_comment {
	list-style-type: none;
	margin-top: 100px;
}

.comment {
	display: inline-block;
	width: 100%;
	min-height: 65px;
	padding: 5px 10px;
	font-size: .9rem;
	color: #555;
	background-color: #FFF;
	border-bottom: 2px solid lighten(#ccc, 15%);
}

span {
	color: #636363;
	margin-right: 2px;
}

/*.comment_toolbar {
	width: 100%;
}*/

ul {
	/*list-style-type: none;*/
	/*padding-left: 35px;*/
	font-size: 0;
	width: 100%;
}

li {
	margin: 10px;
}

/*.comment_details {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: left;
}*/

.comment_content {
	display: inline;
	vertical-align: middle;
	width: 100%;
	text-align: left;
}	

.clearfix {
  	overflow: auto;
}

.star-rating {
	line-height: 25px;
	font-size: .75em;
	/*float: right;*/
	cursor: pointer;
}


.star-rating .fa-star {
	color: yellow;
}

/*@media screen (max-width: 320) {
	.user_avatar {
		width: 
	}
}*/