
a {
  font-family: Kanit-Bold;
  color: #000000;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f78336;
}

.boxWithPadding {
  display: inline-table;
  margin-bottom: 24px;
  margin-right: 24px;
  box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, .5);
}

#show_all_dashboard_elements {
  background-color: f4f4f4;
  padding-bottom: 0px;
}

.cover {
   vertical-align: top;
   width: 100%;
}

.cover-imageIcon {
  width: 100%;
}

#description {
  font-family: Kanit-SemiBold;
}
